<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand logo_section"> <%= image_tag "sun_storm_icon.png", class: "logo_image" %></a>
      <%#= link_to(root_path, class: "navbar-brand logo_section") do %>

      <%# end %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <div class="dropdown custom-dropdown">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-warning" data-toggle="dropdown" id="dLabel" type="button">
                <i class="fa fa-user"></i>
                <%= "Hello,  #{current_user.name}!  " %>
                <span class="caret"></span>
              </button>
              <ul aria-labelledby="dLabel" class="dropdown-menu" role="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>Settings</span>
                  </a>
                </li>
                <li>
                  <%= link_to(destroy_user_session_path, data: {method: :delete }) do %>
                      <i class="fa fa-sign-out"></i>
                      <span>Log Out</span>
                  <% end %>
                </li>
              </ul>
            </div>
        <% else %>
            <li class="nav_button <%= "active" if current_page?(new_user_session_path) %>">
              <%= link_to(new_user_session_path) do %>
                  <i class="fa fa-sign-in"></i>
                  <span>Sign In</span>
              <% end %>
            </li>
            <li class="nav_button <%= "active" if current_page?(new_user_registration_path) %>">
              <%= link_to(new_user_registration_path) do %>
                  <i class="fa fa-hand-o-up"></i>
                  <span>Sign Up</span>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>